<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>IDS</title>
</head>
<body>
    <h1 class="title"><img src="../static/img/logo.png" height="55px">Intrusion Detection System</h1>
    <h3>By: Yarden Falik and Ilay Amir</h3>
    <main>
        <div>
            <h2>Attacks</h2>
            <ol>
                <li><a href="/attack/tcpSynFlood">TCP SYN Flood</a></li>
                <li><a href="/attack/slowLoris">SlowLoris</a></li>
                <li><a href="/attack/httpFlood">HTTP Flood</a></li>
                <li><a href="#">IP Spoofing</a></li>
                <li><a href="#">ARP Spoofing</a></li>
                <li><a href="#">DNS Spoofing</a></li>
                <li><a href="/attack/portScan">Port Scan</a></li>
                <li><a href="/attack/DHCPStarvation">DHCP Starvation</a></li>
                <li><a href="/attack/DHCPSpoofing">DHCP Spoofing</a></li>
                <li><a href="#">FTP Spoofing</a></li>
                <li><a href="/attack/pingFlood">Ping Flood</a></li>
            </ol>
        </div>
        <div>
            <h2>Detections</h2>
            <ol>
                <li><a href="#">TCP SYN Flood</a></li>
                <li><a href="/detection/slowLoris">SlowLoris</a></li>
                <li><a href="/detection/httpFlood">HTTP Flood</a></li>
                <li><a href="#">IP Spoofing</a></li>
                <li><a href="#">ARP Spoofing</a></li>
                <li><a href="#">DNS Spoofing</a></li>
                <li><a href="/detection/portScan">Port Scan</a></li>
                <li><a href="/detection/DHCPStarvation">DHCP Starvation</a></li>
                <li><a href="/detection/DHCPSpoofing">DHCP Spoofing</a></li>
                <li><a href="#">FTP Spoofing</a></li>
                <li><a href="#">Ping Flood</a></li>
            </ol>
        </div>
    </main>
</body>
</html>