<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{ detection }}</title>
</head>
<body>
    <br>
    <a href="/"><img src="../static/img/logo.png" height="80px"></a>
    <h1>{{ detection }}</h1>
    <form method="post">
        <input type="text" name="iface" id="iface" placeholder="Interface">
        <input type="submit" value="search!">
    </form>
    <div>
        <h3>Updates:</h3>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
    </div>
    <p>* VMware Virtual Ethernet Adapter for VMnet8</p>
</body>
</html>