<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Machine Learning Detection</title>
</head>
<body>
    <br>
    <a href="/"><img src="../static/img/logo.png" height="80px"></a>
    <h1>Machine Learning Detection</h1>
    <form method="post">
        <input type="text" name="ip" id="ip" placeholder="IP Address">
        <input type="number" name="time" id="time" placeholder="Duration (In Seconds)">
        <input type="submit" value="Attack!">
    </form>
    <div>
        <h3>Updates:</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>